@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --blacky: rgba(30, 30, 30, 1);
  --highlight: rgba(245, 115, 115, 1);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    --black: rgba(30, 30, 30, 1);
    --highlight: rgba(245, 115, 115, 1);
  }
}

body {
  color: var(--black);
  background: white;
  width: 100vw;
  height: 100vh;
  display: flex;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
div,
a {
  font-family: "Inter", sans-serif !important;
}

@layer components {
  .navbar {
    width: 95vw;
    height: 6vh !important;
    background: var(--black, #1e1e1e);
  }

  .navbar a {
    font-family: "Inter", sans-serif;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
    text-decoration: none;
  }

  .highlighted {
    background: var(--red, #f57373);
    color: #fff !important;
    padding: 4px 10px;
  }
}
